JiumSaleManagement/ConsoleTest/Connected Services/ServiceReference_CNmsService/Xwsw.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Xwsw.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Xwsw.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResInfoModel">
    <xs:sequence>
      <xs:element name="_data" nillable="true" type="xs:string" />
      <xs:element name="_errCode" type="tns:ResCode" />
      <xs:element name="_errDesc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResInfoModel" nillable="true" type="tns:ResInfoModel" />
  <xs:simpleType name="ResCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CODE_SUCCESS" />
      <xs:enumeration value="CODE_FAILED" />
      <xs:enumeration value="CODE_EXCEPTION" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResCode" nillable="true" type="tns:ResCode" />
</xs:schema>